/*****************************************************
 * Magic Mirror                                      *
 * MMM-Bring CSS                                     *
 *                                                   *
 * By David Werth                                    *
 *                                                   *
 * Edit this file ONLY if you know what you're doing *
 *****************************************************/

@font-face {
    font-family: "MuseoSans-300";
    src: url("MuseoSans-300.woff") format("woff");
}

@font-face {
    font-family: "MuseoSans-500";
    src: url("MuseoSans-500.woff") format("woff");
}

.bring-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3 {
    margin: 10px 0;
}

.bring-list-item-content {
    display: flex;
    flex-direction: column;
    width: 98px;
    height: 116px;
    margin: 2px;
    font-size: 14px;
    font-style: normal;
    color: white;
    text-align: center;
}

.bring-list-item-upper-part-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60px;
    align-items: center;
}

.bring-list-item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 65px;
    min-width: 65px;
}

.bring-list-item-image-container > img {
    max-height: 50px;
    max-width: 65px;
}

.bring-list-item-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 43px;
    align-items: center;
    justify-content: flex-end;
}

.bring-list-item-name {
    display: block;
    width: 90px;
    min-height: 17px;
    max-height: 27px;
    padding-top: 2px;
    margin: 0 auto;
    font-size: 14px;
    line-height: .95em;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-family: MuseoSans-500, sans-serif;
}

.bring-list-item-specification-label {
    height: 16px;
    width: 90px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1px;
    font-family: MuseoSans-300, sans-serif;
}

.bring-top_right, .bring-top_left, .bring-top_center, .bring-bottom_left, .bring-bottom_center, .bring-bottom_right {
    /*max-width: 33vw;*/
}

.bring-list-wrapper > div {
  float: left;
}

#bring-inputDiv {
    margin: 20px auto;
    width: 400px;
}

#bring-inputField {
    width: 300px;
    height: 25px;
    margin-right: 20px;
}

.bring-sendButton {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    width: 150px;
    font-weight: bold;
    background-color: #538fbe;
    padding: 10px 30px;
    #font-size: 24px;
    border: 1px solid #2d6898;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(73,132,180)), color-stop(1, rgb(97,155,203)));

    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 3px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 3px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 3px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.bring-sendButton:hover {
    background-image: linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
    background-image: -o-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(79,142,191)), color-stop(1, rgb(102,166,214)));
}

.bring-sendButton:active {
    background-image: linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -o-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(88,154,204)), color-stop(1, rgb(90,150,199)));
    -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.bring-hide-keyboard {
    display: none;
}

.MMM-Bring .simple-keyboard {
    max-width: 500px;
    margin: auto auto;
}

.MMM-Bring .simple-keyboard .hg-button:active {
    background: rgba(69, 93, 93, .5)
}
